/**
 * Marcos del Cristo (https://www.mdelcristo.info/)
 *
 * Copyright © 2017-present Marcos del Cristo. All rights reserved.
 */

@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}

.badgeIcon {
  margin-right: 20px;
}

.cardContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.first {
  float: left;
  width: 30%;
}

.second {
  margin: 0 auto;
  display: inline-block;
  width: 30%;
}

.third {
  float: right;
  width: 30%;
}

.fourth {
  float: left;
  width: 30%;
}

.clearLeft {
  clear: left;
}
