/**
 * Marcos del Cristo (https://www.mdelcristo.info/)
 *
 * Copyright © 2017-present Marcos del Cristo. All rights reserved.
 */

@import './variables.css';

/* BEM workaround:

  sampleBlock     = cammelCase
    Standalone entity, meaningful on its own.

  sampleElement   = single_underscore
    Part of block, has no standalone meaning, tied to its block.

  sampleModifier  = double__underscore
    A flag on a block or element, changes their apearance or behaviour.

  sampleBlock_sampleElement__sampleModifier
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  min-width: 320px;
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
.beta {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
}

h2,
.beta {
  font-size: 29px;
  font-size: 1.8125rem;
}

h3 {
  font-size: 22px;
  font-size: 1.375rem;
}

img {
  border-style: none;
}

/* Section intro */

.section_intro {
  margin: 0 auto;
  max-width: 285px;
  text-align: center;
}

.textLarge {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 400;
}

.textNormal {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0.75em 0;
}

.grid {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -30px;
}

.grid_item {
  display: inline-block;
  padding-left: 30px;
  vertical-align: top;
  width: 100%;
  box-sizing: border-box;
}

.largeSection {
  padding: 30px 0;
}

.largeSection_textAndMedia .grid__override {
  padding-top: 0;
}

.grid__middle > .grid_item {
  vertical-align: middle;
}

.largeSection_textAndMedia .largeSection_media {
  max-width: 550px;
}

.largeSection_media img {
  vertical-align: middle;
}

.largeSection_textAndMedia .largeSection_media img,
.largeSection_textAndMedia .largeSection_media video {
  display: block;
  margin: 0 auto 30px;
  max-height: none;
  max-width: 100%;
}

[class*='push__'] {
  position: relative;
}

.largeSection_textAndMedia .largeSection_text {
  margin: 0 auto 30px;
  max-width: 550px;
}

@media only screen and (min-width: 600px) {
  .container {
    box-sizing: initial;
    padding: 0 40px;
  }

  .tablet__oneWhole {
    width: 100%;
  }

  .largeSection_textAndMedia .largeSection_media {
    max-width: 100%;
  }

  h2,
  .beta {
    font-size: 36px;
    font-size: 2.25rem;
  }

  h3 {
    font-size: 26px;
    font-size: 1.625rem;
  }

  .section_intro {
    max-width: 80%;
  }

  .textLarge {
    font-size: 26px;
    font-size: 1.625rem;
  }

  .textNormal {
    font-size: 20px;
    font-size: 1.25rem;
  }

  .largeSection_textAndMedia .grid__override {
    padding-top: 60px;
  }
}

@media only screen and (max-width: 599px) {
  .textNormal {
    font-size: 17px;
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 780px) {
  .section_intro {
    max-width: 550px;
  }
}

@media only screen and (max-width: 999px) {
  .largeSection_textAndMedia .largeSection_text {
    margin-bottom: 0;
  }

  .largeSection_mediaDeskRight .grid__override {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 999px) and (min-width: 320px) {
  .largeSection_textAndMedia .largeSection_text {
    margin-top: 0;
    text-align: center;
  }
}

@media only screen and (max-width: 999px) and (min-width: 600px) {
  .largeSection {
    padding: 45px 0;
  }
}

@media only screen and (min-width: 1000px) {
  h2,
  .beta {
    font-size: 46px;
    font-size: 2.875rem;
  }

  h3 {
    font-size: 30px;
    font-size: 1.875rem;
  }

  .desktop__oneHalf {
    width: 50%;
  }

  .section_intro {
    max-width: 60%;
  }

  .textLarge {
    font-size: 30px;
    font-size: 1.875rem;
  }

  .textNormal {
    font-size: 22px;
    font-size: 1.375rem;
  }

  .largeSection {
    padding: 60px 0;
  }

  .largeSection_textAndMedia .grid__override {
    padding-top: 60px;
  }

  .desktop__fourTwelfths {
    width: 33.333%;
  }

  .push__desktop__oneTwelfth {
    left: 8.333%;
  }

  .push__desktop__twoTwelfths {
    left: 16.666%;
  }

  .largeSection_textAndMedia .largeSection_text__offsetUp {
    margin-top: -80px;
  }

  .largeSection_mediaDeskRight .largeSection_text {
    margin-left: 45px;
  }

  .largeSection_mediaDeskRight .largeSection_media img {
    float: left;
  }
}

.bgGrayLight {
  background-color: #f5f5f5 !important;
}

/* Section intro heading */

.section_intro h1,
.section_intro h2 {
  margin-bottom: 0.3em;
}

.section_intro p {
  margin: 0;
}

.tightBottom {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.learnMore {
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
}

.btn {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  border: 2px solid #2196f3;
  border-radius: 5px;
  color: #2196f3;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 12px 46px;
  text-transform: uppercase;
  -webkit-transition: all 100ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 100ms cubic-bezier(0.25, 0.1, 0.25, 1);
  white-space: nowrap;
  text-decoration: none;
}
